@import "@styles/vars.module.scss";

.TransitionScreen{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	transition: $transitionSlow;
}

.Screen1{
	height: 100%;
	width: 100%;
	background-color: $cream2;
}
.Screen2{
	height: 100%;
	width: 100%;
	background-color: $cream2;
}
.Screen3{
	height: 100%;
	width: 100%;
	background-color: $cream2;
}
.Screen4{
	height: 100%;
	width: 100%;
	background-color: $cream3;
}