@import "@styles/vars.module.scss";

.ComputerFrame{
	height: 100%;
	svg{
		height: 100%;
		width: auto;
	}
	.contentWrapper{
		//overflow: auto;
		background-color: $white;
	}
	.content{
		z-index: 500;
		width: 100%;
		height: 100%;
		padding: 4vw;
		overflow: auto;
	}

	.cls1 {
	  fill: #a69f9f;
	}

	.cls2 {
	  fill: #373231;
	  opacity: 0.313;
	}

	.cls3 {
	  fill: #fff;
	}

	.cls4 {
	  fill: #595454;
	}

	.cls5 {
	  fill: #eee7e7;
	}

	.cls6 {
	  fill: #be2bbb;
	}
}