@import "@styles/vars.module.scss";

.outer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000;
	height: 100%;
	width: 100%;
	//background-color: rgba($black, 0.2);
	transition: $transitionMedium;
	&[data-modal-status="inactive"]{
		opacity: 0;
		pointer-events: none;
	}
	&[data-modal-status="active"]{
		opacity: 1;
		pointer-events: auto;
	}
}

.backDrop{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10001;
	height: 100%;
	width: 100%;
	background-color: rgba($black, 0.2);
	cursor: pointer;
}

.SupportModal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10002;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1450px;
	height: calc(100% - 100px);
	overflow-y: auto;
	margin: auto;
	background-color: $white;
	padding-top: 15px;
	padding-left: $clampMedium;
	padding-right: $clampMedium;
	padding-bottom: 15px;

	.modalClose{
		position: absolute;
		top: 0%;
		right: 1%;
		color: $purple;
		font-size: $clampLarge;
		cursor: pointer;
		padding: 0.25em;
	}

	/*Modal Heading*/
	.heading{
		text-align: center;
		display: block;
		width: 100%;
		max-width: 1200px;
		margin: auto;
		margin-bottom: $clampSmall;
		h2{
			font-size: $clampLarge;
		}
		p{
			font-size: $clampSmall;
		}
	}

	/*Body Section - Columns*/
	.body{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		//font-size: $clampSmall;
		line-height: 1.35;

		.column{
			width: 33.333%;
			padding: 15px;
			.columnHeading{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				margin-bottom: $clampSmall;
				.icon{
					font-size: $clampLarge;
				}
				.hTag{
					font-size: $clampMedium;
				}
			}
			.columnBody{
				font-size: $clampSmall;
				ul{
					list-style: none;
				}
				li{
					margin-bottom: 0.65em;
					display: flex;
					justify-content: flex-start;
					align-items: flex-start;
					&:before {
						content:'•';
					  	color: $purple;
					  	font-size: 2.5em;
					  	position: relative;
					  	top: -0.4em;
					}
				}
			}
			.columnFooter{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;

				h4{
					font-size: $clampSmall;
				}
				.qrCode{
					margin-top: $clampMedium;
				}
			}
		}
	}

	.modalFooter{
		border-top: solid 2px $purple;
		padding-top: 1em;
		font-size: $clampSmall;
		text-align: center;
		h5{
			font-size: inherit;
		}
		p{
			font-size: inherit;
		}
	}
}