@import "@styles/vars.module.scss";

.outer{
  display: block;
  opacity: 1;
  pointer-events: auto;
  transition: $transitionMedium;

  &[data-hidden="true"]{
    opacity: 0;
    pointer-events: none;
    //transform: translate3d(0px, 25px, 0px);
  }
  &[data-hidden="false"]{
    opacity: 1;
    pointer-events: auto;
    //transform: translate3d(0px, 0px, 0px);
  }
}

.main{
  height: 85vh;
  border: solid $borderWidth $black;
  border-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //z-index:  $zIndexMedium;

  .mainContent{
    width: 85%;
   // z-index:  101;
    //overflow: hidden;
  }
}

.rightSidebar{
  //border: solid $borderWidth $black;
  background-color: $grey_1;
  width: 15%;
  height: 100%;
  //padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  //z-index:  $zIndexMedium;
  
}

.header {
  width:  100%;
  height: 10vh;
  border: solid $borderWidth $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.logo{
  padding:  5px;
  margin-right: 35px;
}

.backToHome {
  margin: 3rem 0 0;
}

.footer{
  width:  100%;
  height: 5vh;
  position: relative;
  border: solid $borderWidth $black;
  border-top: 0;
  font-size: $fontSizeDetail;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
