/*========================================*/
//	Action State Styles
//	
//	Use this file to set the styles for when 
//	actions are being performed.  
//	
//	Use the base selector:
//		#LayoutOuter[data-action-state=""]
//	and use the data-attr to reference the action
//	
/*========================================*/

/* ================== */
/* ===== Imports ===== */
/* ================== */
  @import "@styles/vars.module.scss";

  /* ============================ */
  /* ===== Initial Page Load  ===== */
  /* ============================ */

  	/* ===== Home ===== */
  		// bg filter lightly fades in,
  		// IDCards fade in one-by-one
  		#LayoutOuter[data-hidden="true"]{
  			[data-animation="fadeInUp"]{
  				transform: translate3d(0em, 8vh, 0em);
  				opacity: 0;
  				pointer-events: none;
  				transition: 1s ease-in-out;
  			}
  			$delay: 0.15s;
  			[data-animation-delay="1"]{
  				transition-delay: calc(1 * #{$delay}) ;
  			}
  			[data-animation-delay="2"]{
  				transition-delay: calc(2 * #{$delay}) ;
  			}
  			[data-animation-delay="3"]{
  				transition-delay: calc(3 * #{$delay}) ;
  			}
  			[data-animation-delay="4"]{
  				transition-delay: calc(4 * #{$delay}) ;
  			}
  		}
  		#LayoutOuter[data-hidden="false"]{
  			[data-animation="fadeInUp"]{
  				transform: translate3d(0em, 0vh, 0em);
  				opacity: 1;
  				pointer-events: none;
  				transition: 1s ease-in-out;
  			}
  			$delay: 0.25s;
  			[data-animation-delay="1"]{
  				transition-delay: calc(1 * #{$delay}) ;
  			}
  			[data-animation-delay="2"]{
  				transition-delay: calc(2 * #{$delay}) ;
  			}
  			[data-animation-delay="3"]{
  				transition-delay: calc(3 * #{$delay}) ;
  			}
  			[data-animation-delay="4"]{
  				transition-delay: calc(4 * #{$delay}) ;
  			}
  		}
  		#LayoutOuter[data-hidden="animationEnded"]{
  			[data-animation="fadeInUp"]{
  				transition:0s;
  				transition-delay: 0s;
  				pointer-events: auto;
  			}
  		}

/* ================================ */
/* ===== Draggable Card States ===== */
/* ================================ */
  
  /* ===== Initial Page State ===== */
  .draggable{
    z-index: 21 ;
    .inner{
      transition: $transitionMedium;
    }
    
    &.getting--dragged{
       z-index: 100 !important;
       //position: fixed;
      .inner{
          transform: rotate(15deg) translate(0, -6vh) !important;
          box-shadow: $niceShadowShort;
        }
      } 
  }

  #LayoutOuter[data-action-page="lvl-1"]{
    .cardsFilter,
    .colorFilter{
      opacity:0.15;
    }
    [data-tooltip="lvl-1-place-card-here"]{
      opacity: 0;
      pointer-events: none;
    }
    #enrollment{
      .inner, [data-tooltip]{
        $cardOffset: clamp(-65px, -2vw, -25px);
        transform: translate(0, $cardOffset);
      }
    }

  }

  /* ===== Card is Picked Up ===== */
    #LayoutOuter[data-action-state="card-picked-up"][data-action-page="lvl-1"]{
      .draggable{
        z-index: -1;
        [data-tooltip]{
          opacity: 0;
          pointer-events: none;
        }
      }
      #enrollment{
        .inner, [data-tooltip]{
          transform: translate(0, 0);
        }
      }
      .cardsFilter,
      .colorFilter{
        opacity:1;
        //z-index: 21;
        pointer-events: auto;
      }

      [data-tooltip="lvl-1-place-card-here"]{
        opacity: 1;
        pointer-events: auto;
      }
      [data-tooltip="lvl-2-card-initial"]{
        opacity: 0;
        pointer-events: none;
      }

      /*#mainContent{
        z-index: 21;
      }
      #rightSidebar{
        z-index: 20;
      }*/
      #scannerBorder{
        border-color: $purple;
      }
      #scannerLight{
        &>div{
          background-color: $purple;
        }
      }
      #ScannerIcon{
        $duration: 0.15s;
        $iteration: 1;
        [data-name="hand"] path{
          animation-name: fillPurple;
           animation-duration: $duration;
           animation-iteration-count: $iteration;
           animation-fill-mode: forwards;
           animation-delay: 0.25s;
        }
        [data-name="wave-1"]{
          animation-name: fillPurple;
           animation-duration: $duration;
           animation-iteration-count: $iteration;
           animation-fill-mode: forwards;
           animation-delay: 0.5s;
        }
        [data-name="wave-2"]{
          animation-name: fillPurple;
           animation-duration: $duration;
           animation-iteration-count: $iteration;
           animation-fill-mode: forwards;
           animation-delay: 0.75s;
        }
        [data-name="wave-3"]{
          animation-name: fillPurple;
           animation-duration: $duration;
           animation-iteration-count: $iteration;
           animation-fill-mode: forwards;
           animation-delay: 1s;
        }
        [data-name="wave-4"]{
          animation-name: fillPurple;
           animation-duration: $duration;
           animation-iteration-count: $iteration;
           animation-fill-mode: forwards;
           animation-delay: 1.25s;
        }
      }
    }

    @keyframes fillPurple {
      from {
        fill: $white;
      }
      to {
        fill: $purple;
      }
    }

    #LayoutOuter[data-action-state="card-dropped"][data-action-page="lvl-1"]{
      [data-tooltip]{
        opacity: 0;
        pointer-events: none;
      }

      #enrollment{
        .inner, [data-tooltip]{
          transform: translate(0, 0);
        }
      }

    }

    /* ===== Page lvl 2 ===== */
      #LayoutOuter[data-action-state="card-picked-up"][data-action-page="lvl-2"]{
        [data-tooltip]{
          opacity: 0;
          pointer-events: none;
        }
      }

      #LayoutOuter[data-action-state="card-dropped"][data-action-page="lvl-2"]{
        [data-tooltip]{
          opacity: 0;
          pointer-events: none;
        }
      }


