/*========================================*/
//	Big SCSS Comment
//	
//	Put your notes here.
//	
/*========================================*/

/* ==================== */
/* ===== All Pages ===== */
/* ==================== */
.pageLayout{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* ========================================= */
/* ===== Level 1 Page - index/cards page ===== */
/* ========================================= */
.pageLevel1{
	height: 100%;
	width: 100%;
	.background{
		position: absolute;
		z-index: 0;
	}

	.mainSection{
		height: 100%;
		width: 100%;
	}
}

/* ==================================== */
/* ===== Level 2 Pages - doors pages ===== */
/* ==================================== */
.pageLevel2{
	height: 100%;
	.headingSection{
		height: 12%;
		display: flex;
		justify-content: center;
		align-items: center;
		h1{
			text-align: center;
		}
	}

	.mainSection{
		height: 88%;
	}
}

/* ===================================== */
/* ===== Level 3 Pages - final screen ===== */
/* ===================================== */
.pageLevel3{
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	.mainSection{
		height: 80%;

		img{
			width: 100%;
			max-width: 850px;
			margin: auto;
		}

		.QRCode{
			$clampWidth: clamp(150px, 7vw, 350px);
			width: 100%;
			max-width: $clampWidth;
			//margin: auto;
			svg{
				//max-width: 100%;
			}
		}
	}
	.oneColumn{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.twoColumn{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		.cell{
			width: 50%;
			&[data-centered]{
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
			}
		}
	}
}